.layout {
  display: flex;
}

.sidebar {
  width: 250px;
  height: 100vh;
  background: #004aad;
  padding: 20px;
  color: white;
}

.sidebar ul {
  padding: 0;
  margin-top: 30px;
  list-style: none;
}

.sidebar ul li {
  margin: 15px 0;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.content {
  padding: 20px;
  width: 100%;
}

.cards {
  display: flex;
  gap: 20px;
}

.card {
  background: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  text-align: center;
}
