version: "3.9"

services:
  backend:
    build: ./server
    container_name: django_backend
    ports:
      - "8000:8000"

  frontend:
    build: ./client
    container_name: react_frontend
    depends_on:
      - backend

  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend
      - frontend
