..sidebar {
  width: 220px;
  background: #1d1b31;
  color: white;
  height: 100vh;
  padding: 20px;
}

.logo {
  text-align: center;
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.sidebar ul li.active,
.sidebar ul li:hover {
  background: #5d5fef;
}
