.layout {
  display: flex;
}

.content {
  flex: 1;
  padding: 20px;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.topbar input {
  width: 250px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.profile {
  background: #5d5fef;
  color: white;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 50%;
}

.cards {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.card {
  background: #f3f3ff;
  padding: 20px;
  width: 180px;
  border-radius: 12px;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.sections {
  display: flex;
  gap: 20px;
}

.section {
  flex: 1;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
